In [21]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import model_selection
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [23]:
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

In [12]:
df=pd.read_csv("tata-steel.csv")
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1996-01-01,11.172855,11.214964,11.035300,11.186892,5.308653,10242229.0
1,1996-01-02,11.172855,11.214964,10.951082,10.979155,5.210075,16954313.0
2,1996-01-03,10.979155,11.229000,10.951082,10.981962,5.211408,13514114.0
3,1996-01-04,10.807913,10.807913,10.386825,10.633863,5.046220,34785820.0
4,1996-01-05,10.504730,10.555260,10.316644,10.423319,4.946307,30138033.0
5,1996-01-08,10.358753,10.386825,9.943280,10.033112,4.761138,36752157.0
6,1996-01-09,9.825375,10.069606,9.825375,9.985388,4.738491,36964108.0
7,1996-01-10,9.985388,10.176281,9.825375,9.932051,4.713181,35923053.0
8,1996-01-11,9.937665,10.215583,9.903978,10.165052,4.823749,27719296.0
9,1996-01-12,10.165052,10.325066,10.063991,10.125751,4.805099,31593194.0

In [8]:
#train test split 

training=df.iloc[:800,1:2].values

tetsing=df.iloc[800:,1:2].values